{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Home Page</h1>
<form method="POST">
  <div class="container">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Age</label>
      <input type="number" name="age" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Department</label>
      <select name="department" class="form-control">
        <option value="HR">HR</option>
        <option value="JD">Junior Developer</option>
        <option value="ST">Software Testing</option>
      </select>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-block">Save</button>
  </div>
</form>

<!-- <div class="card-body">
    {{ data.name.label }}
    {{ data.name }}
  </div> -->
{% endblock content %}